[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
psycopg2-binary = "*"
schedule = "*"
certifi = "*"
chardet = "*"
idna = "*"
requests = "*"
selenium = "*"
python-dotenv = "*"


[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"
mock = "*"

[requires]
python_version = "3.9"
